*{
  margin:0;
  padding:0
}
.textimage{
  background-image: url("https://media.giphy.com/media/PU9ae3tuWoJCU/giphy.gif");
  position: absolute;
  
  
  padding-top: 50px;
  background-size: 45rem;
  top: 20%;
  left:20%;
  background-color: white;
  width: 700px;
  height: 400px;
  display: flex;
  align-items: center;
  
  flex-direction: column;
}
p{
  padding-top: 30px;
  color: black;
  
}
.header{
  position: relative;
}
img{
  width: 100%;
  height: 10%
}
button{
  width: 150px;
  height: 40px;
  border-radius: 50px;
  border: 5px solid black;
  background-color: palevioletred;
  color: white;
  font-size: 20px;
  margin: 30px;
}


